* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'PT Serif', sans-serif;
}

.header {
    width: 100%;
    padding: 20px;
    background-image: url(header.jpg);
    background-size: contain, repeat;
    border-bottom: solid 4px black;
    color: white;
    font-size: 52px;
    -webkit-text-stroke: 2px black;
    text-shadow: 0 9px 9px black;
    position: relative;
}

.addFilmBtn {
    position: relative;
    left: 49%;
    top: 10px;
    font-size: 36px;
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 100%;
    background: linear-gradient(to top, #70c2c2, #eee38f);
    animation: infinite;
}

.container {
    display: block;
    position: absolute;
    background-image: url(background.jpg);
    background-repeat: repeat;
    padding: 20px;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 950px) {
    .container {
        position: relative;
    }
}

.addFormTitle {
    padding: 15px 15px 0 15px;
    border-bottom: 4px solid black;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: bold;
}

.filmListTitle {
    text-align: center;
    border: 2px solid black;
    border-radius: 5px 5px;
    width: content;
    background-color: white;
    opacity: 0.95;
    margin: 20px auto auto auto;
}

.listItem {
    text-align: left;
    padding: 10px;
    margin: 0 10px 0 10px;
    border: 2px solid black;
    border-radius: 4%;
    width: min-content;
    background: rgb(198, 221, 221);
    list-style-type: none;
}

.filmList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.addFilmModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .5)
}

.modalWindow {
    position: relative;
    width: 100%;
    padding: 40px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 4px;
    max-height: 80vh;
    overflow-y: auto;
}

.modalClose {
    position: absolute;
    top: 8px;
    right: 14px;
    font-size: 30px;
    color: #000;
    opacity: .5;
    font-weight: 700;
    border: none;
    background-color: transparent;
    cursor: pointer
}

.modalTitle {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
}

.modalInput {
    display: block;
    margin: 10px auto 5px auto;
    width: 280px;
    height: 50px;
    background: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    border: none;
    font-size: 18px;
    text-align: center;
    padding: 0 20px;
    outline: 0;
}

.modalRating {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 15px;
}

.modalInputRating {
    -webkit-appearance: none;
    display: block;
    margin: 10px auto 10px auto;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    background: '9';
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.publish {
    width: 220px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    cursor: pointer;
    transition: .3s all;
    outline: 0;
    margin: 30px auto 0 auto;
    background-color: #303030;
    color: #fff;
    border: none
}

.listItem:hover .delete {
    content: '';
    position: relative;
    width: 20px;
    height: 20px;
    background: url(trash.png) center center/cover no-repeat;
}

.show {
    display: block;
}

.hide {
    display: none;
}